{% extends "base.html" %} 

{% block content %}
    <div class="container mt-4">
        <h4>Welcome</h4>
        <p>Please enter your name to submit a letter to your politicians</p>
        <form action="{{ url_for('home') }}" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-field mb-2">
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
                <div id="nameHelp" class="form-text">Enter your name as you'd like to see it in your email signature</div>
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
